*{
    margin: 0;
    font-family: sans-serif;
}
.section1{
    background: #673A44;
color:white;
padding: 20px;

display: flex;
justify-content: space-between;

}
.s1dftx{
    display: flex;
    gap: 30px;
}
.podsection1{
    padding:15px;
    background: #F2F2F2;
}
.s1df{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.but1{
    background-color: #673A44;
    color:white;
    width: 200px;
    padding: 15px;
    border-radius: 5px;
    border:none;
}
.gr{
    color:gray;
}
.s1tx{
    font-size: 20px;
}
/* .mv{
    max-width: 1200px;
margin: auto;
} */
.s1db{
    padding: 15px;
    width: 40%;
    background: whitesmoke;
    border-radius: 30px;
}
.section1dop{
    display:flex;
    justify-content: center;
    gap:50px;
    margin-top: 50px;
}
.cent{
    text-align: center;
    margin-top: 50px;
}
.s2box{
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 30px;
}
.section2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.imm2{
text-align: center;
    margin-top: 50px;   
}
.red{
    background-color: #673A44;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top-left-radius:   30px;
    border-top-right-radius:   30px;
}
.section3{
background-color: whitesmoke;
padding: 50px;
margin-top: 50px;
}
.s3df{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.s3box{
    background-color: white;
    padding: 5px;
    border-radius:30px;
    width:30%;
    padding-left: 0px;
}
.minibox{
    display: flex;
    gap:10px;
    /* background-color: white; */
    padding: 20px;
    border-radius: 20px;
    height: 120px;
    align-items: center;
}
.section4{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
}
.minisect4{
    background-color: whitesmoke;
    padding: 50px;
    text-align: center;
    border-radius: 30px;
}
.podsection4{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.imm4{
    text-align: center;
}












@media (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .imm{
    width: 382.8116149902344;
height: 363;

}
.s1df{
    margin-top: 50px;
}

.im22{
    display:none;
}
.s3box{
    width:70%;
    margin-top:50px;
}
.s3df{
    justify-content: start;
}
.section4{
        flex-wrap: wrap-reverse;
    }
    .imm3{
        width: 80%;
        margin-top: 40px;
    }
    .imm44{
        display: none;
    }
    .imm2{
        display: none;
    }
}








@media(max-width:480px){
    body{
        overflow-x: hidden;
    }
    .s1df{
        flex-wrap: wrap-reverse;
    }
    .imm{
        width: 90%;
    }
    .s1tx{
        text-align: center;
    }
    .section1dop{
        flex-wrap: wrap;
    }
    .s1db{
        width: 70%;
    }
    .imm2{
        display:none;
    }
    .section2{
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .s2box{
        margin-top:30px;
    }
    .s3box{
        width: 70%;
        margin-top:50px ;
    }
    .minibox{
        width: 80%;
        flex-wrap: wrap;
        height: auto;
        margin-top: 30px;
    }
    .section4{
        flex-wrap: wrap-reverse;
    }
    .imm3{
        width: 80%;
        margin-top: 40px;
    }
    .podsection4{
        flex-wrap: wrap-reverse;
    }
    .imm4{
        display:none;
    }
}